---
layout: page
title: "Other Posts"
---
<div class="container">
    {% for post in site.posts %}
    {% unless post.categories contains "points"%}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <h6 class="card-title">{{ post.date | date: "%B %d, %Y" }}</h6>
                    <h6 class="card-title">
                        Categories:
                        <div class="d-inline-flex gap-1">
                            {% for category in post.categories %}
                            <span class="badge text-bg-secondary">{{ category }}</span>
                            {% endfor %}
                        </div>
                    </h6>
                    <div class="card-text">{{ post.excerpt }}</div>
                    <a href="{{ post.url | relative_url }}" class="card-link">
                        Read more &raquo;
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>