<div class="container my-4">
    <p class="mb-0">Jehovah's Witnesses are a Christian cult
        founded in the 1870s in the United States, known for
        their distinct beliefs and practices. They emphasize the use of God's name as "Jehovah," reject the
        Trinity doctrine, and believe in a literal 144,000 who will go to heaven while others live eternally on
        a paradise Earth. They are known for their door-to-door evangelism and refusal of certain societal
        norms, such as military service, blood transfusions, and celebration of holidays. Read more about
        <a href="{{ '/history' | relative_url }}">the history of Jehovah's Witnesses</a>.
    </p>
</div>