<div class="container-fluid bg-dark pt-4 pb-3">
    <div class="container">
        <div class="p-5 text-white rounded-3 text-center">
            <h1 class="display-5 fw-bold mb-3 d-flex align-items-baseline justify-content-center">
                Unveiling The Truth: Refuting Jehovah's Witnesses
            </h1>
            <p class="fs-4 mb-0">
                Explore biblical evidence and theological insights that challenge the teachings of Jehovah's
                Witnesses. See where the cult started and how it digressed into what it is now.
                Equip yourself with a clear, solid arguments to understand and defend the true Christian
                faith.
            </p>
        </div>
    </div>
</div>